/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/Abr/2014, 23:07:56
    Author     : luiscarvalho
*/

//h1 {
//    font-size: 85%;
//    text-transform: uppercase;
//    letter-spacing: 1px;
//    height: 56px;
//    font-size: 46px;
//    font-family: 'franklin gothic medium';
//    font-weight: 100;
//    background-color: #1F99EB;
//    color:white;	
//}

.scroll_fixed {
    position:relative;
    top:0;
} 

.fixed {
    position:fixed;
    bottom: 15px;
    left: 10px;
} 
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

td {
    width: 25%;
    vertical-align: bottom;
}


